:root {
    --background-color: #333;
    --border-color: #555;
    --button-bg-color: #555;
    --button-hover-bg-color: #666;
    --calendar-bg-color: #444;
    --grayed-out-color: #888;
    --text-color: white;
    --dark-yellow: #d1a800;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--calendar-bg-color);
    color: var(--text-color);
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: auto;
}

.month-container {
    display: flex;
    align-items: center;
}

.month-container h1 {
    font-size: 2em;
    margin: 0 10px;
    text-align: center;
}

#navButtons {
    display: flex;
    gap: 10px;
}

button {
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    transition: background-color 0.3s ease;
    min-width: 44px;
    min-height: 44px;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

#calendar-container {
    background-color: var(--calendar-bg-color);
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; /* Ensure equal column widths */
}

th, td {
    border: 1px solid var(--border-color);
    padding: 5px;
    text-align: center;
    font-size: 1em;
    width: 91px;
}

td {
    cursor: pointer;
    height: 91px; /* Fixed height for all td */
    vertical-align: top;
    position: relative;
}

.today {
    border: 3px solid var(--background-color);
}

.grayed-out {
    color: var(--grayed-out-color);
    opacity: 0.5;
}

#calendar tbody td strong {
    display: block;
    margin-bottom: 5px;
}

#calendar tbody td div {
    color: var(--text-color);
    font-size: 0.8em;
    overflow: hidden;
    line-height: 1.2;
    padding: 5px;
    word-break: break-word;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
