body {
    font-family: Arial, sans-serif;
}

#signup-form, #guest-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    display: block;
}

button {
    cursor: pointer;
}
