:root {
    --background-color: #333;
    --border-color: #555;
    --button-bg-color: #555;
    --button-hover-bg-color: #666;
    --calendar-bg-color: #444;
    --grayed-out-color: #888;
    --modal-bg-color: rgba(0,0,0,0.5);
    --overlay-bg-color: rgba(0, 128, 0, 0.7);
    --selected-bg-color: green;
    --text-color: white;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

#right-section {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}

#navButtons {
    display: flex;
    align-items: center;
}

#navButtons button {
    margin-right: 5px;
}

button, .modal-content button {
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button:hover, .modal-content button:hover {
    background-color: var(--button-hover-bg-color);
}

#calendar-container {
    background-color: var(--calendar-bg-color);
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: center;
}

td {
    cursor: pointer;
}

.today {
    border: 3px solid var(--button-hover-bg-color);
}

.grayed-out {
    color: var(--grayed-out-color);
    opacity: 0.5;
}

#calendar tbody td {
    font-size: 16px;
    height: 80px;
    position: relative;
    vertical-align: top;
    width: 100px;
}

#calendar tbody td strong {
    display: block;
    margin-bottom: 5px;
}

#calendar tbody td div {
    
    background-color: var(--overlay-bg-color);
    bottom: 0;
    color: var(--text-color);
    font-size: 13px;
    font-weight: bold;
    word-break: break-word;
    max-width: 90px;
    overflow: hidden; 
    margin: auto;
    left: 0;
    line-height: 1.2;
    padding: 5px;
    position: absolute;
    right: 0;
}

.modal {
    background-color: var(--modal-bg-color);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    left: 50%;
    padding: 40px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.modal-content h2 {
    margin-bottom: 30px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#modal select {
    background-color: var(--calendar-bg-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 5px;
}

#modal option {
    background-color: var(--background-color);
    color: var(--text-color);
}
